.footer{
    width: 100%;
    border-top: solid #3DB87C;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;


}

.footer > div {
    width: 200px;
    text-align: center;
}

.footer > div:hover{

    cursor: pointer;
    font-weight: bold;

}